[Unit]
Description=LeekDuck Service for

[Service]
Type=simple
User=leek-duck
Group=auto-services
WorkingDirectory=/opt/auto/LeekDuck/
ExecStart=/usr/local/bin/ts-node /opt/auto/LeekDuck/index.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target